h1.prH1 {
    display: inline;
    vertical-align: sub;
}
input.prTitle {
    max-width: 400px;
    font-size: 2em;
}

form.prForm {
    display: inline-flex;
    /*margin-top: 10px;*/
}

button.prUpdate, button.btn-info {
    margin-left: 10px;
    height: 34px;
}
p.confirmUpdateTitle {
    color:red;
}
table.prTracks > tbody > tr > td, table.prTracks > thead > tr > th {
    padding: 5px;
}

table.prTracks > tbody > tr:hover {
    background-color: lightgray;
}

table.prTracks button {
    height: 20px;
    line-height: 9px;
    margin-bottom: 1px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
    border: 1px solid transparent;
    border-radius: 4px;
}

form.prForm input {
    display: inline-flex;
}

input.prSearch {
    width: 180px;
    margin-bottom: 5px;
}

div.prFormSrchFilter {
    width: 300px;
    display: inline-flex;
}

    div.prFormSrchFilter label {
        width: 100px;
        padding-top: 5px;
        text-align: right;
        display: block;
        margin-right: 10px;
    }

div.srchCont {
    clear: both;
    width: 80%;
}

td.titleCol {
    max-width: 250px;
    min-width: 100px;
}

div.srchResults {
    width: 80%
}

tr.srchResultsRow:hover {
    background-color: lightgray;
}

tr.srchResultsRow > td {
    padding: 3px;
}

tr.srchResultsRow button {
    height: 25px;
    line-height: 11px;
}
