<div class="container">
    <h1 class="plH1">Playlist:</h1>
    <!-- Declare variable 'EditPlaylist' which is a reference to the ngForm directive -->
    <!-- Note that Angular automatically creates and attaches an NgForm directive to the <form> tag, so no need to add it here -->
    <form #EditPlaylist="ngForm" (ngSubmit)="onSubmit(); EditPlaylist.form.markAsPristine();" class="plForm" name="plNameForm" id="plNameForm">
        <div class="form-group">
            <input type="text" class="form-control plName" id="name" name="name"
                   required
                   [(ngModel)]="model.name" #name="ngModel" #title> <!-- Use ngModel directives bind this element to the model, and declare variable 'name' to reference it -->
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                Name is required
            </div>
        </div>
        <button type="submit" class="btn btn-success plUpdate" [disabled]="!EditPlaylist.form.valid || EditPlaylist.form.pristine">Update</button>
    </form>
    <div [hidden]="!showConfirm">
        <p class="confirmUpdateName">Playlist name successfully updated</p>
    </div>
    <div>
        <p *ngIf="!model.tracks[0]">No tracks added to this playlist yet - use controls below to add tracks</p>
        <table class="plTracks">
            <!--<thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Artist</th>
                </tr>
            </thead>-->
            <tbody>
                <tr *ngFor="let track of model.tracks; let last = last; let first = first;" title="Album: {{track.album}}">
                    <td hidden>{{track.trackId}}</td>
                    <td>{{track.trackNum}}</td>
                    <td>{{track.title}}</td>
                    <td>{{track.artist}} <span [hidden]="!track.year">({{track.year}})</span></td>
                    <td><button (click)="removeTrack(track)" title="Remove"><strong>&nbsp;x&nbsp;</strong></button></td>
                    <td><button [disabled]="first || waitingMoveTrack" (click)="moveTrackUp(track)" title="Move up">&#9650;</button></td>
                    <td><button [disabled]="last || waitingMoveTrack" (click)="moveTrackDown(track)" title="Move down">&#9660;</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <hr class="separator">
    </div>
    <div class="srchCont">
        <h3>Search tracks</h3>
        <form #TrackSearch="ngForm" class="trForm" name="trSearchForm">
            <div class="trFormSrchFilter">
                <label for="name">Track title</label><input type="text" [formControl]="searchTitle" class="form-control trSearch" id="title" name="title">
            </div>
            <div class="trFormSrchFilter">
                <label for="name">Artist</label><input type="text" [formControl]="searchArtist" class="form-control trSearch" id="artist" name="artist">
            </div>
            <div class="trFormSrchFilter">
                <label for="name">Album</label><input type="text" [formControl]="searchAlbum" class="form-control trSearch" id="album" name="album">
            </div>
            <button type="reset" class="btn btn-info" (click)="clearResults()">Reset</button>
        </form>
    </div>
    <div class="srchResults">
        <table class='table' *ngIf="tracks">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Artist</th>
                    <th>Album</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks" class="srchResultsRow">
                    <td hidden>{{ track.trackId }}</td>
                    <td class="titleCol">{{ track.title }}</td>
                    <td>{{ track.artist }}</td>
                    <td>{{ track.album }} <span [hidden]="!track.year">({{track.year}})</span></td>
                    <td><button title="Add to playlist" class="btn btn-success" (click)="addTrack(track)">Add</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
